<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Literally Me</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/image.css') }}">
</head>
<body>
    <a href="/image/"><button class="button-image"><img src="{{ image_src }}" alt="black_men_kissing.jpeg" class="center"></button></a>
    <button class="top-left-button"><a class="menu-button-contents" href="/">На главную</a></button>
    <button class="top-right-button"><a class="forward-button-contents">Еще = кликни на картинку</a></button>
</body>